/* Resetowanie domyślnych stylów przeglądarek */
body,
h1,
h2,
h3,
p,
ul,
li,
form,
input {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
/*
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
*/
header:first-child /* pierwsze dziecko */
{
    background-color: #2c2c2c;
    color: #fff;
    padding: 20px;
}

header:first-child > h1 /* dziecko */
{
    /*background-color: #2c2c2c;*/
    color: #1ec550;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

section { /* po klasie */
    margin-bottom: 20px;
}

article {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.fat-footer {
    display: flex;
    justify-content: space-between;
}

.fat-footer section {
    flex: 1;
}

.fat-footer h4 {
    margin-bottom: 10px;
}

a {
    color: hotpink;
}
 table, tr,th{
    border: 1px solid;
 }


@-webkit-keyframes hvr-pulse-shrink {
    to {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse-shrink {
    to {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse-shrink {
    font-size: 16px;
    background-color: hotpink;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse-shrink:hover,
.hvr-pulse-shrink:focus,
.hvr-pulse-shrink:active {
    -webkit-animation-name: hvr-pulse-shrink;
    animation-name: hvr-pulse-shrink;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}


/* Dodatkowe efekty z CSS */
/* Możesz znaleźć je na https://1stwebdesigner.com/css-effects/ */

/* Przykład efektu hover na linkach */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

#tytul{ 
    /*po id - tytul ksiazki*/
    background-color: #363535;
    color: #ddd;
}


textarea[id="opis"] {
    /* po wartosci atrybutu */
    background-color: yellow;
  }

/* id - ok
klasa - ok

*/
